.post + .post {
  margin-top:1rem;
}

.post .voteScore ~ .thumbs {
  cursor:pointer;
  margin-left:1rem;
}

.post .voteScore + .thumbs + .thumbs {
  margin-left:initial;
}

.post .thumbs:hover {
  color:rgb(0, 132, 255);
}

.post .thumbs.disabled {
  pointer-events: none;
  opacity: 0.6;
}