:root {
  --globaldist: 1.2rem;
}

.App {
  padding: var(--globaldist);
}

.AppBar {
  padding: var(--globaldist);
  margin: calc(-1 * var(--globaldist));
  background: #EBEBEB;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--globaldist);
  border-bottom:1px solid #B8B8B8;
}